# 1. Import Necessary libraries

In [1]:
import pandas as pd

# 2. Import Data

In [2]:
movie_data = pd.read_csv('Movie.csv')
movie_data

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

# 3. Data Understanding

In [3]:
movie_data.shape

(8992, 3)

In [4]:
movie_data['userId'].nunique()

4081

In [5]:
movie_data['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [6]:
movie_data['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [7]:
movie_data['movie'].nunique()

10

# 4. Data Preparation

In [11]:
user_pivot_table = pd.pivot_table(data = movie_data,values='rating', index='movie',columns='userId',).fillna(0)
user_pivot_table.columns = movie_data['userId'].unique()
user_pivot_table

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 5. Model Building

## Metric 1: Correlation Matrix

In [13]:
user_pivot_table.corr().round(2)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
6,-0.11,1.00,-0.11,-0.16,-0.11,0.28,0.67,0.56,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,-0.11,-0.17,0.35,-0.11,-0.22
8,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
10,-0.16,-0.16,-0.16,1.00,-0.16,-0.31,-0.25,0.48,-0.16,0.24,...,0.78,-0.16,-0.16,-0.25,0.99,-0.16,-0.25,0.48,-0.16,-0.32
11,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,-0.11,-0.11,-0.11,-0.16,-0.11,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,1.00,0.61,-0.35,-0.11,-0.22
7070,-0.17,-0.17,0.72,-0.25,-0.17,0.33,-0.25,0.13,0.72,0.58,...,-0.17,0.72,-0.17,0.42,-0.25,0.61,1.00,0.04,0.72,0.30
7080,-0.35,0.35,0.35,0.48,-0.35,0.54,0.40,0.81,0.35,0.41,...,0.18,0.35,-0.35,0.00,0.53,-0.35,0.04,1.00,0.35,0.14
7087,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
7105,0.48,-0.22,0.57,-0.32,0.48,0.67,0.20,-0.05,0.57,0.41,...,-0.22,0.57,0.48,0.78,-0.33,-0.22,0.30,0.14,0.57,1.00

In [18]:
movie_data[movie_data['userId'] == 8]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

In [23]:
movie_data[(movie_data['userId'] == 8) | (movie_data['userId'] == 16) | (movie_data['userId'] == 6979)]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
8         16         Toy Story (1995)     3.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
5207      16              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0
8963    6979         GoldenEye (1995)     4.0

## Metric 2 : Euclideon Distance

In [24]:
from sklearn.metrics import pairwise_distances

In [31]:
user_euclideon_pivot = pd.pivot_table(data = movie_data,values='rating', index='userId', columns='movie').fillna(0)
user_euclideon_pivot.index = movie_data['userId'].unique()
user_euclideon_pivot

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
10,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7044,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7070,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7080,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7105,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [34]:
euclideon_distance_user = pairwise_distances(X = user_euclideon_pivot,metric='euclidean').round()
euclideon_distance_user_df = pd.DataFrame(data = euclideon_distance_user)
euclideon_distance_user_df.columns = movie_data['userId'].unique()
euclideon_distance_user_df.index   = movie_data['userId'].unique()
euclideon_distance_user_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.0,5.0,5.0,6.0,0.0,8.0,6.0,9.0,5.0,6.0,...,4.0,5.0,2.0,4.0,6.0,5.0,6.0,9.0,6.0,6.0
6,5.0,0.0,6.0,6.0,5.0,7.0,3.0,6.0,6.0,7.0,...,4.0,6.0,4.0,7.0,6.0,6.0,7.0,8.0,6.0,8.0
8,5.0,6.0,0.0,6.0,5.0,6.0,6.0,7.0,0.0,3.0,...,4.0,0.0,4.0,4.0,6.0,6.0,4.0,8.0,1.0,6.0
10,6.0,6.0,6.0,0.0,6.0,9.0,7.0,6.0,6.0,6.0,...,4.0,6.0,5.0,8.0,1.0,6.0,7.0,7.0,7.0,9.0
11,0.0,5.0,5.0,6.0,0.0,8.0,5.0,9.0,5.0,6.0,...,4.0,5.0,1.0,4.0,5.0,5.0,6.0,9.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,5.0,6.0,6.0,6.0,5.0,9.0,6.0,9.0,6.0,7.0,...,4.0,6.0,4.0,7.0,6.0,0.0,4.0,10.0,6.0,8.0
7070,6.0,7.0,4.0,7.0,6.0,7.0,7.0,8.0,4.0,4.0,...,6.0,4.0,6.0,5.0,7.0,4.0,0.0,8.0,4.0,7.0
7080,9.0,8.0,8.0,7.0,9.0,6.0,7.0,4.0,8.0,7.0,...,8.0,8.0,9.0,9.0,7.0,10.0,8.0,0.0,8.0,8.0
7087,6.0,6.0,1.0,7.0,6.0,6.0,7.0,7.0,1.0,3.0,...,5.0,1.0,5.0,4.0,7.0,6.0,4.0,8.0,0.0,6.0
7105,6.0,8.0,6.0,9.0,6.0,5.0,7.0,9.0,6.0,6.0,...,8.0,6.0,6.0,4.0,8.0,8.0,7.0,8.0,6.0,0.0

## Metric 3 : Cosine Metric

In [40]:
cosine_metrics_user = 1 - pairwise_distances(X = user_euclideon_pivot, metric='cosine',).round(3)
cosine_metrics_user_df = pd.DataFrame(cosine_metrics_user)
cosine_metrics_user_df.index = movie_data['userId'].unique()
cosine_metrics_user_df.columns = movie_data['userId'].unique()
cosine_metrics_user_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,1.000,0.707,0.000,0.000,0.000,0.000,0.000,0.553
6,0.000,1.000,0.000,0.000,0.000,0.391,0.707,0.615,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.459,0.000,0.000
8,0.000,0.000,1.000,0.000,0.000,0.651,0.000,0.492,1.000,0.874,...,0.000,1.000,0.000,0.707,0.000,0.000,0.753,0.459,1.000,0.623
10,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.615,0.000,0.389,...,0.800,0.000,0.000,0.000,0.990,0.000,0.000,0.619,0.000,0.000
11,1.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,1.000,0.707,0.000,0.000,0.000,0.000,0.000,0.553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.659,0.000,0.000,0.000
7070,0.000,0.000,0.753,0.000,0.000,0.490,0.000,0.371,0.753,0.658,...,0.000,0.753,0.000,0.532,0.000,0.659,1.000,0.345,0.753,0.469
7080,0.000,0.459,0.459,0.619,0.000,0.702,0.568,0.890,0.459,0.568,...,0.344,0.459,0.000,0.324,0.649,0.000,0.345,1.000,0.459,0.476
7087,0.000,0.000,1.000,0.000,0.000,0.651,0.000,0.492,1.000,0.874,...,0.000,1.000,0.000,0.707,0.000,0.000,0.753,0.459,1.000,0.623
7105,0.553,0.000,0.623,0.000,0.553,0.765,0.391,0.307,0.623,0.544,...,0.000,0.623,0.553,0.831,0.000,0.000,0.469,0.476,0.623,1.000

# THE END!!!